body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/dirt.png");
  image-rendering: pixelated;
  background-size: 6rem; }

.container {
  margin: 1rem;
  grid-template-columns: repeat(2, 1fr); }
