$text-color: #E0E0E0
$text-shadow-color: #383838

$button-texture: url("../img/button.png")
    
body
    font-family: "minecraft"
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/dirt.png")

.container
    margin: 3rem 10rem
    grid-template-columns: repeat(2, 1fr)

.btn
    background: $button-texture
    color: $text-color
    text-shadow: .2rem .2rem $text-shadow-color
    text-decoration: none
    text-align: center
    display: inline-block
    outline: solid black .2rem
    box-shadow: inset .2rem .2rem 0 0 rgba(255,255,255,0.55), inset -.2rem -.3rem 0 0 rgba(0,0,0,0.55)
    font-size: 2rem
    padding: 1rem
    width: 100%
    margin-bottom: 1rem

.btn:disabled, .btn.disabled
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), $button-texture
    box-shadow: none

.btn:hover:not(:disabled):not(.disabled)
    background: linear-gradient(rgba(47, 51, 73, 0.4), rgba(47, 51, 73, 0.4)), $button-texture

@font-face
    font-family: "minecraft"
    src: url("../font/minecraft-webfont.woff2") format("woff2"), url("../font/minecraft-webfont.woff") format("woff")
    font-weight: normal
    font-style: normal
